.recentpost{
    display: inline-block;
    width: 370px;
    height: 400px;
    position: relative;
    bottom: 2155px;
    left: 320px;
    text-align: left;
    
}

h1{
    font-size: 2rem;
    line-height: 2rem;
    color: beige;
    margin-bottom: 15px;
    margin-right: 100px;
    color: blueviolet;
    position: relative;
    left: 45px;
}


.recentpost-items{
    margin: 13px 15px;
    font-size: 20px;
    color: blueviolet;

}


