.footer{
   
    position: relative;
    bottom:0;
    background-color: #28104E;
    box-sizing: border-box;
    padding: 70px 0;
    line-height: 1.5rem;
    text-align: left;
}


.containers{
    max-width: 180%;
    background-color: #28104E;
    margin: auto;
    margin-left: 250px;
    height: 154px;
    
    
  
}

ul{
    list-style: none;
    margin: auto 16px;
    margin-bottom: 15px;
    
}

.rows{
    display: flex;
    flex-wrap: wrap;
    margin-left: 600px;
    
    
    
}

footer-col h1{
    font-size: 10px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
	position: absolute;
    left: 50%;
    margin: 100px;
    margin-right: 100px;
    right: 50px;
    text-decoration: underline;
    background-color: aliceblue;
   
   
    
}

.footer-col h1::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-logo{
    position: absolute;
    bottom: 190px;
    left: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    
}

.footer-para{
    position: absolute;
    bottom: 74px;
    left: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    width: 20%;
    margin: 15px;
    line-height: 2rem;
    
    
}



.footer-col ul li:not(:last-child){
	
    margin: 10px;
    text-align: left;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


